


	<%= render 'layouts/construction' %>

	<!--
	<h1>Listing restaurants</h1>

<table>
  <tr>
    <th>City</th>
    <th>Name</th>
    <th>Short desc</th>
    <th>Desc</th>
    <th>Address</th>
    <th>Area</th>
    <th>Map</th>
    <th>Phone</th>
    <th>Email</th>
    <th>Web</th>
    <th>Cuisine</th>
    <th>Rating</th>
    <th>Price</th>
    <th>Hours</th>
    <th>Reservations</th>
    <th>Wine</th>
    <th>Seats</th>
    <th>Kid friendly</th>
    <th>Vegetarian</th>
    <th>Sort</th>
    <th>Release</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @restaurants.each do |restaurant| %>
  <tr>
    <td><%= restaurant.city_id %></td>
    <td><%= restaurant.name %></td>
    <td><%= restaurant.short_desc %></td>
    <td><%= restaurant.desc %></td>
    <td><%= restaurant.address %></td>
    <td><%= restaurant.area_id %></td>
    <td><%= restaurant.map_id %></td>
    <td><%= restaurant.phone %></td>
    <td><%= restaurant.email %></td>
    <td><%= restaurant.web %></td>
    <td><%= restaurant.cuisine_id %></td>
    <td><%= restaurant.rating %></td>
    <td><%= restaurant.price %></td>
    <td><%= restaurant.hours %></td>
    <td><%= restaurant.reservation_id %></td>
    <td><%= restaurant.wine %></td>
    <td><%= restaurant.seats %></td>
    <td><%= restaurant.kid_id %></td>
    <td><%= restaurant.vegetarian %></td>
    <td><%= restaurant.sort %></td>
    <td><%= restaurant.release_id %></td>
    <td><%= link_to 'Show', 'restaurant' %></td>
  </tr>
<%  end %>
</table>

<br />

	-->
<!-- added quotes to restaurant path to avoid displayng -->
