<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @restaurant.city_id %>
</p>

<p>
  <b>Name:</b>
  <%= @restaurant.name %>
</p>

<p>
  <b>Short desc:</b>
  <%= @restaurant.short_desc %>
</p>

<p>
  <b>Desc:</b>
  <%= @restaurant.desc %>
</p>

<p>
  <b>Address:</b>
  <%= @restaurant.address %>
</p>

<p>
  <b>Area:</b>
  <%= @restaurant.area_id %>
</p>

<p>
  <b>Map:</b>
  <%= @restaurant.map_id %>
</p>

<p>
  <b>Phone:</b>
  <%= @restaurant.phone %>
</p>

<p>
  <b>Email:</b>
  <%= @restaurant.email %>
</p>

<p>
  <b>Web:</b>
  <%= @restaurant.web %>
</p>

<p>
  <b>Cuisine:</b>
  <%= @restaurant.cuisine_id %>
</p>

<p>
  <b>Rating:</b>
  <%= @restaurant.rating %>
</p>

<p>
  <b>Price:</b>
  <%= @restaurant.price %>
</p>

<p>
  <b>Hours:</b>
  <%= @restaurant.hours %>
</p>

<p>
  <b>Reservations:</b>
  <%= @restaurant.reservation_id %>
</p>

<p>
  <b>Wine:</b>
  <%= @restaurant.wine %>
</p>

<p>
  <b>Seats:</b>
  <%= @restaurant.seats %>
</p>

<p>
  <b>Kid friendly:</b>
  <%= @restaurant.kid_id %>
</p>

<p>
  <b>Vegetarian:</b>
  <%= @restaurant.vegetarian %>
</p>

<p>
  <b>Sort:</b>
  <%= @restaurant.sort %>
</p>

<p>
  <b>Release:</b>
  <%= @restaurant.release_id %>
</p>


<%= link_to 'Edit', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back', restaurants_path %>
