<!DOCTYPE html>
<html>
<head>
	<title><%= @meta_title %></title>
	<meta name="keywords" content="<%= @meta_keywords %>">
	<meta name="description" content="<%= @meta_description %>">
	<link rel="canonical" href="http://www.sublimesydney.com"/>

	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

	<%= stylesheet_link_tag "application" %>
	<%= javascript_include_tag "application" %>

	<%= stylesheet_link_tag '/stylesheets/blueprint/print',  :media => 'print' %>
  <!--[if lt IE 8]><%= stylesheet_link_tag '/stylesheets/blueprint/ie' %><![endif]-->

	<!-- google maps -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
	</script>

	<meta name="google-site-verification" content="6IFurP0CBKCtMxZ_g3Xz65UNXo7fKp8s9wyp6wBEIWs" />

	<!-- google analytics -->
	<% if Rails.env == "production" %>
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-27843507-1']);
			_gaq.push(['_setDomainName', 'sublimesydney.com']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>
	<% end %>

	<%= csrf_meta_tag %>

</head>

<body>

		<%= render 'layouts/header' %>
		<%= render 'layouts/nav' %>

		<%= yield %>

		<%= render 'layouts/footer' %>


		<% debug(params) if Rails.env.development? %>


   <script>
    $(document).ready(function(){
			 application_ready ();
     });
   </script>


</body>
</html>
