<!DOCTYPE html>
<html>
<head>
	<title><%= @meta_title %></title>
	<meta name="keywords" content="<%= @meta_keywords %>">
	<meta name="description" content="<%= @meta_description %>">

	<!-- CSS -->
	<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
	<!--
	<%= stylesheet_link_tag 'blueprint/print',  :media => 'print' %> -->
  <!--[if lt IE 8]><%= stylesheet_link_tag 'blueprint/ie' %><![endif]-->
	<%= stylesheet_link_tag "application" %>

	<!-- JAVASCRIPT-->
	<%= javascript_include_tag "application" %>
	<!-- google maps -->
	<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=false">
	</script>
	<!-- google analytics -->
	<!-- uses rack-goggle_analytics - and added something to application.rb -->

	<%= csrf_meta_tag %>

</head>

<body>

		<%= render 'layouts/header' %>
		<%= render 'layouts/nav' %>

		<%= yield %>

		<%= render 'layouts/footer' %>


		<% debug(params) if Rails.env.development? %>


   <script>
    $(document).ready(function(){
			 application_ready ();
     });
   </script>


</body>
</html>
